{% extends "layout.html" %}
{% block content %}
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="static/images/petimage1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="static/images/petimage2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="static/images/petimage3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <br>
  </div>
  <div class="row">
  <div class="card" style="width: 18rem;">
  <img src="static/images/petimage4.jpg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">For Pet Owners!</h5>
    <p>Register your pets that you have here!</p>
    <a href="{{ url_for('view.registerpet') }}" class="btn btn-primary">Register your pet!</a>
  </div>
  </div>
  <div class="card" style="width: 18rem;">
  <img src="static/images/caretakerimage1.jpg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">For Pet Owners!</h5>
    <p>Search for a Care Taker for your pet now!</p>
    <a href="{{ url_for('view.search_caretaker')}}" class="btn btn-primary">Search for a Care Taker here!</a>
  </div>
  </div>
  </div>
  <br>
  <div class="row">
  <div class="card" style="width: 18rem;">
  <img src="static/images/petimage4.jpg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">For Part Time Care Takers</h5>
    <p>Set your prices here!</p>
    <a href="{{ url_for('view.part_time_set_price')}}" class="btn btn-primary">Click here!</a>
  </div>
  </div>
  <div class="card" style="width: 18rem;">
  <img src="static/images/caretakerimage1.jpg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">For Full Time Care Takers</h5>
    <p>Choose the pet types you want to take care of here!</p>
    <a href="{{ url_for('view.full_time_choose_pet')}}" class="btn btn-primary">Click here!</a>
  </div>
  </div>
  </div>
  <div class="row">
  <div class="card" style="width: 18rem;">
  <img src="static/images/petimage4.jpg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">For Care Takers</h5>
    <p>Update your availability dates here!</p>
    <a href="{{ url_for('view.caretaker_update_availability')}}" class="btn btn-primary">Click here!</a>
  </div>
  </div>
  <div class="card" style="width: 18rem;">
  <img src="static/images/caretakerimage1.jpg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">Look at your upcoming orders here!</h5>
    <a href="http://www.google.com" class="btn btn-primary">Click here!</a>
  </div>
  </div>
  </div>
  <div class="row">
  <div class="card" style="width: 18rem;">
  <img src="static/images/petimage4.jpg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">View your registered pets here!</h5>
    <a href="{{ url_for('view.petlist')}}" class="btn btn-primary">Click here!</a>
  </div>
  </div>
  <div class="card" style="width: 18rem;">
  <img src="static/images/caretakerimage1.jpg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">Look at your upcoming orders here!</h5>
    <a href="http://www.google.com" class="btn btn-primary">Click here!</a>
  </div>
  </div>
  </div>
{% endblock content %}
